*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

@font-face {
    font-family: NuMono;
    src: url(./assets/NuMonoFree.otf);
}

#navbarNav{
    background-color:transparent;
    height: 45px;
    margin-top: 0;
   }
/*Logo*/
.navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(204,243,128);
    font-family: NuMono;
    text-decoration: none;
}
.navbar-logo span{
    color: #d6baf0;
    font-size: 2rem;
}

.navbar-nav{
    background-color:transparent;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.nav-item:hover{
    background-color: rgb(204,243,128);
    border-radius: 5px;
    transition: 0.6s;
    color: var(--bs-orange: #fd7e14;)
}




























.main{
    /*background: url() no-repeat; vai puxar a foto*/
    background-image: linear-gradient( to bottom,rgb(129, 92, 168), transparent); 
    background-size: cover;
    width: 100%;
    max-width: auto;
    height: 100vh;
    background-color: rgb(97, 80, 211);
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}
.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 2px solid rgb(202, 159, 241);
    width: 51%;
}
.main .btn{
    height: 55px;
    width: 138px;
    color: rgb(255, 255, 255);
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(202, 159, 241);

}
.main .btn:hover{
    background-color: rgb(173, 101, 241);
    transition: 0,6; /*tentar colocar isso no nav*/
}

/*.about img{
usar shadow box na imagem
https://www.cssmatic.com/box-shadow    
}*/

h1{ 
    align-content: center;    
    font-size: 4rem;
    font-weight: 900;
}
.txt{
    text-align: justify;
    transition: transform 1s;
    width: 94%;
}
.html{
    font: 300;
}
.progress{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(235, 233, 233);
    height: 25px;
    width: 100%;
    max-width: 100%;
}


@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}

.btn1{
    height: 55px;
    width: 138px;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: rgb(202, 159, 241);;
    color: white;
    border-radius: 4px;
}
.btn1:hover{
    background-color: transparent;
    color: rgb(173, 101, 241);
    border: 1px solid rgb(173, 101, 241);
    transition: 0.5s;
}

.control ul li{
    list-style: none;
    background-color: rgb(200, 157, 241);
    padding: 5px 15px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}
.item{
    position: relative;
}
.item span{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}
.item :hover{
    opacity: 1;
    transition: 0.5s;
}
.img-fluid{
    margin-bottom: 30px;
}
footer{
    background-image: linear-gradient( to top,#d6baf0, transparent);  
}
.fale ul{
    font-size: larger;
    font-weight: 800;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.fale a{
    color: black;
    text-decoration: none;
}